@import './_design'

.excercise-container
    .exercise-heading 
        margin-top: 2rem
        width: 100%
        background-color: $green
        display: flex
        justify-content: space-around
        align-items: center
        padding: .5rem 8rem
        color: $dark-main

        path
            color: $dark-main