@import './_design'

.fullpage-hyong
    display: flex
    flex-direction: column
    gap: 2rem

    .go-back
        text-align: center
        text-decoration: underline
        color: $red

    h1
        text-align: center
        color: $red

    
    #hyongname
        color: $black
        text-transform: uppercase
        font-size: 2.5rem
        margin-bottom: 1rem
        line-height: 1.5rem
        span
            font-size: .9rem
            font-weight: 300
            margin-top: -2rem

    .moveCount
        p
            text-align: center

    div
        position: relative
        margin: .5rem auto 0 auto
        p
            span
                color: $main
                font-weight: 700
        
    