@import './_design'

.header
    padding-top: 2rem
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    z-index: 10
    position: relative
    background-color: $main

    #heading
        font-weight: 300
        font-size: 3.2rem
        color: $white
        font-family: 'Josefin Sans'

    p
        font-family: $text
        font-weight: 1000
        font-size: 1.2rem
        color: $white
        margin-bottom: 2rem
        text-transform: uppercase

        