@import './_design'

.hyong-list-heading
    margin-top: 4rem
    width: 100%
    background-color: $main
    display: flex
    justify-content: space-around
    align-items: center
    padding: .5rem 8rem
    color: $white

.hyong-list
    margin-top: 3rem
    padding: 1rem 3rem
    display: flex
    flex-direction: column
    gap: 3rem
    height: 37.5rem
    overflow: auto            
        