@import './_design'

.menu
    position: absolute
    bottom: 0
    display: flex
    height: 4rem
    width: 100%
    justify-content: space-between
    align-items: flex-end
    background-color: $bg

.part
    height: 4rem
    position: relative
    margin-bottom: 0
    width: 50%
    display: flex
    justify-content: center
    align-items: center
    h2
        font-weight: 400       

#active
    background-color: $main 
    border-radius: 1rem 0 0 0
    h2
        font-weight: 500
        color: $white

.active-right
    border-radius: 0 1rem 0 0 !important
