@import './_design.sass'

.random-exercise
    margin-top: 1rem
    padding: 0 3rem


    h2
        background: none
        color: $white

    p
        margin: .35rem 1rem
        &::before
            content: '- '
            color: $green