@import './_design.sass'

.random-exercise
    margin-top: 2rem
    padding: 0 3rem
    display: flex
    flex-direction: column
    justify-content: center

    button
        color: $white
        font-size: 1rem
        height: 2.2rem
        position: relative
        margin: 0 auto

    h3
        background: none
        text-align: center
        margin-bottom: .6rem
        font-weight: 900

    p
        margin: .2rem 1rem
        text-align: center
        span
            color: $red
            font-weight: 800